.env 
*.log
llama_local_model/
models/
__pycache__/
experiments.ipynb
tests.ipynb
local_models/
get_started.py 
eval_results/
data_large/
.DS_Store
images/icon_steer_square copy.jpg
images/icon_steer.jpg
images/icon_steer_square.webp
deploy_setup.md 
eval_results/honest_all_responses/
api_design.md

evals/manyshot_examples.json
evals/combined_harmful_entries.txt
evals/initial results.md
evals/harmbench_behaviors_text_all.csv
/evals/manyshot
evals/jailbreak_responses_plot.png
evals/total_jailbreak_responses_by_multiplier.png
