
repeng==0.3.1
torch==2.4.0
numpy==1.26.3
transformers==4.45.1
scikit_learn==1.5.2

datasets==3.0.1
Flask==3.0.3
huggingface_hub==0.25.0
json_log_formatter==1.1
litellm==1.50.2
matplotlib==3.9.2
nbconvert==7.16.4
nbformat==5.10.4
pandas==2.2.3
python-dotenv==1.0.1
Requests==2.32.3
seaborn==0.13.2
streamlit==1.39.0
tqdm==4.66.4
Werkzeug==3.0.4